# VIM swap files
.*.swp

# object code files, shared libraries, compiled bytecode
*.o
*.so
*.pyc

# distutils/setuptools
build/
dist/
*.egg-info/

# IPython Notebook checkpoint files
.ipynb_checkpoints

# Rope
.ropeproject/
