# VIM swap files
.*.swp

# object code files, shared libraries, compiled bytecode
*.o
*.so
*.pyc

# distutils/setuptools
build/
dist/
*.egg-info/

# IPython Notebook checkpoint files
.ipynb_checkpoints

# Rope
.ropeproject/

# Avoid committing anything under experiments in the release branch
experiments/

# Misc
.cache/
.eggs/
