.*.swp
*.html
*.c
*.o
*.so
*.pyc

build/
docs/*.pdf
cython_debug
*.prof
.ropeproject/globalnames
.ropeproject/history
.ropeproject/objectdb

*.pdf

.ropeproject

# IPython notebook checkpoints
.ipynb_checkpoints
