include LICENSE.txt
include README
include README.md
include CONTRIBUTORS.md
include requirements.txt
include setup.cfg

# code
recursive-include knowledge_linker *.pyx
recursive-include scripts *

# goodies
recursive-include misc *
prune misc/presentations
